<left>

    <div class="callout">
        <h2>More Great Workshops</h2>
        <p>
            If you enjoy this workshop, <br/>
            you might also like...
        </p>
        <p>
            <a href="https://step-functions-workshop.go-aws.com/">Intro to Service Coordination with AWS Step Functions</a>
        </p>
    </div>

    <h5 class="copyright">&copy; 2020 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

    <h6 class="legal" style="font-size: 100%"><a href="https://aws.amazon.com/privacy/">Privacy</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="https://aws.amazon.com/terms/">Site terms</a></h6>
    
</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 
